# 监听端口
PORT=3000

# Fabric（与 test-network 默认一致）
CHANNEL_NAME=mychannel
CHAINCODE_NAME=score
MSP_ID=Org1MSP
PEER_ENDPOINT=localhost:7051
PEER_HOST_ALIAS=peer0.org1.example.com

# 必须为「绝对路径」：指向 org1.example.com 的 peerOrganizations 根目录
# 须先在 test-network 目录执行过 ./network.sh up，才会生成 organizations/…/users/…
# 例（按你虚拟机用户与拷贝位置修改）：
# FABRIC_CRYPTO_BASE=/home/tony/work/fabric-packages/fabric/fabric/scripts/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com

FABRIC_CRYPTO_BASE=/home/tony/work/fabric-packages/fabric/fabric/scripts/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com
